<!-- size this right -->
<div class="sm-banner">
  Sign up for tours of Martian hotspots!
</div>

<div class="row">
  <div class="col-md-8">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="\assets\images\olympus-mons.jpg" alt="Olympus Mons, giant flat top volcano">
        </div>
        <div class="carousel-item"  style="padding-top: 14px;">
          <img class="d-block w-100" src="\assets\images\medusae-fossae.jpg" alt="Medusae-fossae, wide-ranging volcano trenches">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="\assets\images\valles-marineris.jpg" alt="Valles-marineris, great canyons spreading across face of the planet">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <h3><strong>Getaway Tours</strong></h3>
    <p>
      <strong>Come see the most magnificent sites of our beautiful red home away from home ...</strong>
    </p>
    <p>
      <strong>Olympus Mons, a shield volcano the size of Arizona!</strong>
    </p>
    <p>
      <strong>The Medusae-fossae, bizarre impressions along a rugged landscape!</strong>
    </p>
    <p>
      <strong>The Valles-marineris, a vast canyon system five times the size of the Grand Canyon! </strong>
    </p>
    <p>
      <strong>Call Martian Getaways Tour Director Federica Federbaum at 03-555-5555 for details!</strong>
    </p>
  </div>
</div>

<div class="sm-banner">
  Check out Mars- and space-related goodies on Etsy!
</div>


<div class="grid-container-storefront-items">
  <ul *ngFor="let product of marsProducts">
    <li>
      <article>
        <div class="row">
          <div class="col-md-2">
            <img [src]="product.image">
          </div>
          <div class="col-md-8 product-title">
            <strong>{{product.title}}</strong>
          </div>
        </div>
          <br>
        <div class="product-description">              
          {{product.description}}
        </div>
          <br>
            <div class="row">
              <div class="col-md-2 product-price">
                <strong>Price: ${{product.price}}</strong>
              </div>
              <div class="col-md-10 purchase-button">
                <button type="Submit" class="btn btn-primary" (click)="submitStorefrontItem(product)">Add to Cart</button> 
                {{itemMessage}}
              </div>
            </div> 
            
          <br>
        <br>
        <hr>
        <br>
      </article>
    </li>
  </ul>
</div>