


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="..." alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




<div class="container">
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Permits</h4>
                <p class="card-text">
                    Apply for parking permit
                    <br> View existing permit requests
                    <br> Activate Visitor permits
                    <br>
                </p>
            </div>
            <div class="card-footer">
                Link
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Vehicles</h4>
                <p class="card-text">
                    View and manage your vehicles
                </p>
            </div>
            <div class="card-footer">
                Link
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Parking Tickets</h4>
                <p class="card-text">
                    View your parking ticket history
                </p>
            </div>
            <div class="card-footer">
                Link
            </div>
        </div>
    </div>
    <div class="card-deck mt-4">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Funding Options</h4>
                <p class="card-text">
                    Add credit/debit card
                    <br> Top up Account
                    <br> Manage cards
                </p>
            </div>
            <div class="dropdown">
            
            </div>
        </div>
<div></div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">picture placeHolder</h4>
                <p class="card-text">
                
                    <br>description
                    <br> 
                </p>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  sizes
                </button>
                <div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">small</button>
                  <button class="dropdown-item" type="button">medium</button>
                  <button class="dropdown-item" type="button">large</button>
                  <button class="dropdown-item" type="button">extra large</button>
                </div>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">picture placeHolder</h4>
                <p class="card-text">
                
                    <br>description
                    <br> 
                </p>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  sizes
                </button>
                <div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">small</button>
                  <button class="dropdown-item" type="button">medium</button>
                  <button class="dropdown-item" type="button">large</button>
                  <button class="dropdown-item" type="button">extra large</button>
                </div>
              </div>
              </div>
        </div>
    </div>
</div>
<br>

<button type="button" class="btn btn-outline-primary">checkout</button>