
    <div class="row">
    <div class = "col-md-6">
    <p>Register an account</p>
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" class="form-control" placeholder="Enter username" id="username">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>
        <div class="form-group">
            <label for="firstname">First name:</label>
            <input type="firstname" class="form-control" placeholder="Enter first name" id="firstname">
        </div>
        <div class="form-group">
            <label for="lastname">Last name:</label>
            <input type="lastname" class="form-control" placeholder="Enter last name" id="lastname">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class  = "col-md-6">
      <form>
        <p>Login</p>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
