
 <div class="grid-container-storefront-items row">
  <div class ="card" *ngFor="let cartItem of allCartItems">
        <div>
          <div class="col-md-2">
            <img [src]="cartItem.image">
          </div>
          <div class="col-md-8 cartItem-title">
            <strong>{{cartItem.title}}</strong>
          </div>
        </div>
          <br>
          <br>
            <div >
              <div class="col-md-8 cartItem-price">
                <strong>Price: ${{cartItem.price}}</strong>
              </div>
            </div> 
    </div>
</div>
    
       
     
 <div class="card-footer">
  <button type="submit" (click)="purchaseCart()">Checkout Cart</button>
</div>

