<div class = "container">
<div class="jumbotron" >
  <h1>Space getaway</h1>
  <p>Enjoy space like never before!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <!--<a class="navbar-brand" href="#">Logo</a>-->

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Home</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Travel
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="">Opportunity</a>
        <a class="dropdown-item" href="">Curiosity</a>
        <a class="dropdown-item" href="">Spirit</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Shop
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="">Browse</a>
        <a class="dropdown-item" href="">Cart</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="">Login</a>
    </li>

  </ul>
</nav>

<app-home></app-home>
</div>