<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"></head>

<div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><button type="button" class="btn btn-default" id="up">
          <i class="fas fa-arrow-up"></i>
        </button></p>
        <p><button type="button" class="btn btn-default" id="down">
          <i class="fas fa-arrow-down"></i>
        </button></p>
        
      </div>
      <div class="col-sm-6">
        <img src="http://mars.nasa.gov/mer/gallery/all/1/f/2000/1F305739504EFFA5DZP1212L0M1-BR.JPG">
      </div>
      <div class="col-sm-4 sidenav">
        <div class="well">
          <p>Radio</p>
        </div>
        <div class="well">
          <p>Info Box</p>
        </div>
      </div>
    </div>
  </div>