
img {
    max-width: 100%;
    max-height: 100%;
}
#navPage {background-color: rgba(255, 248, 220, 0.8);
} 

 #choices {
    position: sticky;
    top: 0;
} 
p {
    margin-top: 0;
    margin-bottom: 0;
}
doesThisWork{
    margin: 0;
}

/* #navPage{
    column-count: 2;
    column-gap: 2%;
} */