<div class = "row">
    <div class = "col-md-6">
            Croissant caramels oat cake macaroon sugar plum. Candy halvah topping chocolate. Wafer pie soufflé. 
            Wafer chocolate biscuit. Brownie gummies soufflé pudding biscuit wafer. 
            Icing gummies sugar plum croissant gummi bears chocolate cotton candy liquorice. 
            Marshmallow chocolate sesame snaps cake. Gummi bears carrot cake halvah carrot cake jujubes soufflé. 
            Caramels bear claw caramels sesame snaps sugar plum brownie tiramisu dragée tart. 
            Marzipan cotton candy chocolate bar halvah icing apple pie icing. Donut ice cream cake dessert halvah. 
            Pastry brownie fruitcake. Bear claw danish lemon drops halvah cotton candy.
    </div>
    <div class = "col-md-6">
        <img src="https://i.pinimg.com/564x/ba/f8/9c/baf89c76f4a6323e8f2b00a2407140a3.jpg" width="100%">
    </div>
    <div class = "col-md-12">
            Carrot cake lemon drops danish dessert chocolate cake chocolate bar caramels cupcake. 
            Halvah jujubes sesame snaps biscuit. Cupcake sweet gummies cake muffin cupcake tootsie roll cotton candy. 
            Toffee gummi bears apple pie halvah tootsie roll gummies lemon drops. 
            Pastry brownie cupcake jujubes marshmallow toffee caramels muffin bear claw. 
            Cake tiramisu chocolate chupa chups halvah chocolate bar donut toffee tiramisu. 
            Jelly topping muffin gummi bears muffin dessert bonbon. Lemon drops jelly ice cream bear claw oat cake bear claw.
            Lollipop jelly jujubes wafer sweet gummies candy canes donut danish. 
            Bear claw sesame snaps jelly-o liquorice jelly powder sweet roll cheesecake. 
    </div>
 </div>