<div class = "row">
        <div class = "col-md-12" id="welcomeMessage">
                Welcome to the mars getaway homepage! From here you can travel to the surface of mars following behind our marvelous rovers. 
                We have the Opportunity rover, Curiosity rover, and Spirit rover with many different cameras and angles to look through. 
                After you are done exploring mars take some time to browse our shop and look at the space-themed merchandise. 
            </div>
    <div class = "col-md-6" id="homepage_pic_text">
            {{ImageOfTheDay.title}}<br>
            {{ImageOfTheDay.date}}<br>
            {{ImageOfTheDay.explanation}}<br>
            {{ImageOfTheDay.copyright}}
    </div>
    <div class = "col-md-6" id = "homepage_picture" > 
        <img src="{{ImageOfTheDay.url}}" width="100%" height="100%" *ngIf="ImageOfTheDay.media_type == 'jpeg'">
        <iframe *ngIf="ImageOfTheDay.media_type == 'video'" [src]="getTrustedUrl()" width="100%" height="100%" ></iframe>
    </div>
 </div>